auto-install-peers=false
strict-peer-dependencies=false
supportedArchitectures.os[]=current
supportedArchitectures.cpu[]=current
supportedArchitectures.libc[]=current
supportedArchitectures.libc[]=musl
